body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    transition: background-color 0.3s ease;

}

textarea, input, button {
    background-color: #111111;
    color: #707070;
    border:1px solid green;
}
.dark-theme {
    background-color: black;
    color: #686666;
}
input:focus, textarea:focus {
    outline: none !important;
    border:3px solid green;
    box-shadow: 0 0 10px #719ECE;
  }
.container {
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#largeText {
    color: #707070;
    font-size: 126px;
}
#pauseButton {
    margin: 20px;
}
/* Other styles (unchanged) */

/* Dark theme toggle styles */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
}

#inputText {
    height:200px;
}
input:checked + .slider {
    background-color: #00ff11;
}

input:checked + .slider:before {
    transform: translateX(20px);
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

textarea, input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #00b327;
}

/* Additional styling for display.html goes here */
